@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 100px 0 rgb(162, 162, 162), 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 110px 0 rgb(162, 162, 162), 100px 0 rgb(162, 162, 162),
      0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  36% {
    box-shadow: 120px 0 rgb(162, 162, 162), 110px 0 rgb(162, 162, 162),
      100px 0 rgb(162, 162, 162), 0px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 130px 0 rgb(162, 162, 162), 120px 0 rgb(162, 162, 162),
      110px 0 rgb(162, 162, 162), 100px 0 rgb(162, 162, 162);
  }
  62% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 rgb(162, 162, 162),
      120px 0 rgb(162, 162, 162), 110px 0 rgb(162, 162, 162);
  }
  75% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      130px 0 rgb(162, 162, 162), 120px 0 rgb(162, 162, 162);
  }
  87% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0), 130px 0 rgb(162, 162, 162);
  }
  100% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}
